<h1>Nueva etiqueta</h1>
<p class="lead" >Crea una etiqueta para uno de tus productos:</p>

<%= render "form", ticket: @ticket %>

<br>

<div>
  <%= link_to "Volver a etiquetas", tickets_path, class: "btn btn-secondary mb-4 btn-sm" %>
</div>
