<h1>Nueva marca</h1>
<p class="lead" >Crea una marca para uno de tus productos:</p>

<%= render "form", brand: @brand %>

<br>

<div>
  <%= link_to "Volver a marcas", brands_path, class: "btn btn-secondary mb-4 btn-sm" %>
</div>
